.registration-container {
    max-width: 50%;
    margin: auto;
    margin-top: 50px;
}
.row-1-e {
    width: 49.5%;
}
.row-2-e {
    width: 49.5%;
    margin-left: 1%;
}
.registration-card{
    text-align: center;
    position: relative;
    top: 8px;
}
.register-btn{
    margin-left: 82.70%;
}
.alreadyregister{
    position: relative;
    left: 20px;
    bottom: 45px;
}
