<div class="about">
  <div class="main">
    <h1 class="heading">About Project</h1>
  </div>
  <div class="main-about">
    <h1 class="main-h1">About Airlines Reservation</h1>
    <p class="para">
      Airlines reservation, also known as airline booking or flight reservation,
      is the process by which passengers or travelers secure seats or tickets on
      a specific flight operated by an airline. This is a fundamental step in
      planning air travel, and it can be done through various methods,
      including. Most airlines offer online reservation systems through their
      official websites or mobile apps. Passengers can search for flights,
      select their preferred travel dates and times, choose their seat
      preferences, and make payment electronically using credit/debit cards or
      other accepted payment methods. Travel agencies, both brick-and-mortar and
      online, facilitate airline reservations on behalf of passengers. They have
      access to airline booking systems and can help travelers find suitable
      flights, often offering personalized assistance.Some airlines provide
      reservation services through phone calls. Passengers can call the
      airline's customer service or reservation hotline to book a flight and
      make payments over the phone.: Passengers can visit airline ticket
      counters' at airports to make reservations in person. This is especially
      helpful for travelers who prefer face-to-face interactions or for those
      who have specific booking requests. When making an airline reservation,
      passengers typically provide the following information: After completing
      the reservation, passengers receive a booking confirmation that includes
      important details, such as the flight number, departure and arrival
      times,ticket number, and booking reference (or PNR - Passenger Name
      Record). Passengers are required to present this information at the
      airport check-in counter to receive their boarding pass and proceed with
      their flight.
    </p>
  </div>
</div>
