
.Search-card{
    position: relative;
    left: 8px;
    width: 97%;
    top: 100px;

}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 10px;
  }

  .search-box{
    display: flex;
    gap: 7px;
    justify-content: center;
    

  }
  .radio{
    display: flex;
    justify-content: center;
  }
  .main{
    margin-top: 19px; 
  }

  .search-flight{
    height: 91%;
    background-size: cover;
  }
.button{
    background-color:rgb(64, 128, 206) ;
    color: white;
    width: 146px;
    height: 52px;
}