.change-password-img{
    width: 10%;
    margin-left: 10px;
}

.icon img{
    width: 72%;
    margin-left: 19%;
    margin-top: 57px
}
.content{
    margin-top: 68px;
    margin-left: 150px;

    
}


.input{
    width: 72%;

}
.field{
    position: relative;
    margin-top: 48px;
}

.Update{
    background: linear-gradient(to right, rgb(100, 97, 97), rgb(28, 28, 34));
}

.button{
    display: flex;
    justify-content: space-between;
    width: 72%
}