<div class="main">
<h1 class="headingLine">Contact us</h1>
<div class="row">
    <div class="col">
        <h1  class="heading">We are here to help!</h1>
        <p class="content">
            Let us know how we can best serve you. Use the contact form to email us or select from the topics below that best fit your needs. It's an honor to support you in your journey towards better Airline reservation.
        </p>
    </div>

    <div class="col">
        <div class="contact-form">
            <h2 style="font-size: 30px;font-weight: 100;">Send Message</h2>
            <form class="forms">
              <div class="form-group">
                
                <input type="text" id="name" formControlName="name" required placeholder=" Name">
              </div>
              
              <div class="form-group">
                
                <input type="email" id="email" formControlName="email" required placeholder=" Email">
              </div>
              
              <div class="form-group">
                <input type="tel" id="phone" formControlName="phone" placeholder=" Phone Number">
              </div>
              
              <div class="form-group">
                <textarea id="comment" formControlName="comment" rows="4" placeholder="Comments" style="width: 90%;"></textarea>
              </div>
              
              <button>
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                  </div>
                </div>
                <span>Send</span>
              </button>
            </form>
          </div>
    </div>
    
</div>
</div>