<div class="main">
<h1 class="headingLine">Contact us</h1>
<div class="row">
    <div class="col">
        <h1  class="heading">We are here to help!</h1>
        <p class="content">
            Let us know how we can best serve you. Use the contact form to email us or select from the topics below that best fit your needs. It's an honor to support you in your journey towards better Airline reservation.
        </p>
    </div>

    <div class="col">
        <div class="contact-form">
            <h2 style="font-size: 30px;font-weight: 100; color: white;font-family: sans-serif;">Send Message</h2>
            <form class="forms">
              <div class="form-group">
                
                <input type="text" id="name" formControlName="name" required placeholder=" Name">
              </div>
              
              <div class="form-group">
                
                <input type="email" id="email" formControlName="email" required placeholder=" Email">
              </div>
              
              <div class="form-group">
                <input type="tel" id="phone" formControlName="phone" placeholder=" Phone Number">
              </div>
              
              <div class="form-group">
                <textarea id="comment" formControlName="comment" rows="4" placeholder="Comments" style="width: 90%; border-radius: 5px;"></textarea>
              </div>
              
              <button>
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                  </div>
                </div>
                <span>Send</span>
              </button>
            </form>
          </div>
    </div>
    
</div>
</div>
<div class="d-flex footer">
  <div class="col">
    <div class="about-me">
      <img src="../../../assets/PassPort Photo.jpeg" style="width: 66%;border-top-left-radius: 26px;border-bottom-right-radius: 26px;">
      <div>
        <H2 style="font-family: sans-serif;top: 18px;position: relative;right: -4px;">Kuldeep Yadav</H2>
      </div>
      <div style="font-family: sans-serif; font-size: 14px; display: flex; align-items: center; gap: 10px;top: 2px;position: relative;">
        <i class="material-icons" style="vertical-align: middle;">email</i>
        <a href="mailto:Kuldeepyadva87336@gmail.com" style="color: inherit; text-decoration: none;">Kuldeepyadva87336@gmail.com</a>
    </div>
    
    <i class="material-icons" style="vertical-align: middle;position: relative;top: 8px;gap: 10px;">phone</i>
        <span style="font-family: sans-serif;position: relative;top: 10px;">7078329906</span>
    <div>

    </div>
    </div>
  </div>
  <div class="col " style="font-size: 16px;font-family: sans-serif;margin-top: 117px;position: relative;line-height: 40px;font-weight: 300;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ducimus veniam vel cum mollitia veritatis temporibus fuga, repudiandae deleniti explicabo molestias ea est iusto suscipit architecto exercitationem obcaecati qui harum.
  </div>

  <div class="col">
    <div class="connected">
      <h2>Reach Us</h2>
    </div>
    <div class="logo">
      <img src="../../../assets/logo.png" >
    </div>
    <div class="icon">
      <a href="https://www.facebook.com/profile.php?id=100023039133016" target="_blank">
        <img src="../../../assets/facebook logo_icon.png" alt="Facebook">
      </a>
      <a href="https://www.linkedin.com/in/kuldeep-yadav-3b0a1017b/" target="_blank">
        <img src="../../../assets/_linkedin logo_icon.png">
      </a>
      <a href="">
        <img src="../../../assets/twitter logo_icon.png">
      </a>
      <a href="https://www.instagram.com/kuldeep_ydv32/" target="_blank">
        <img src="../../../assets/instagram logo_icon.png">
      </a>
    </div>

  </div>
</div>