.mat-card{
    width: 40%;
    height: 320px;
    position: relative;
    top: 135px;
    text-align: center;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
   

}
.input{
    width: 60%;
    justify-content:center;
    margin-top: 20px;
    
}
.Cancel{
    position: relative;
   right: 23%;
}
.login{
    position: fixed
}
.login-main{
    height: 91%;
    background-color: rgba(232, 219, 209, 0.673);
}

