


.change-password-img{
    width: 10%;
    margin-left: 10px;
}

.icon img{
    width: 60%;
    margin-left: 36%;
    margin-top: 69px;
}
.content{
    margin-top: 68px;
    margin-left: 220px;

    
}


.input{
    width: 87%;

}
.field{
    position: relative;
    margin-top: 48px;
}

.Update{
    background: linear-gradient(to right, rgb(100, 97, 97), rgb(28, 28, 34));
}
