.toolbar{
   align-items: center;
   justify-content: center;
   display: flex;
   font-family: sans-serif;
   font-weight: bolder;
   position: relative;
   color: rgb(10, 24, 92);
    
}
.search-flight{
    font-size: xx-large;
    margin-top: 8%;
    margin-left:12%;
    font-weight: bold;
    
}
.menu{
    width: 80%;
    margin-left: 12%;
    margin-top: 15px;
    
}
.inptutoolbar{
    background-color: rgb(81, 78, 119);
    color: white;
    border-radius: 8px;
}
.label{
    position: relative;
    top:11px;
    left: 10px;
    margin-right: 16px;
}
