.para{
    margin-left:45%;
    top: 20px;
    color: rgb(10, 24, 92);
}
.search-flight{
    font-size: xx-large;
    margin-top: 8%;
    margin-left:12%;
    font-weight: bold;
    
}
.mat-card{
    width: 80%;
    top: 20px;
    height: 20%;
    left: 12%;
    border-radius: 15px;
    
   
}
.radio-btn{
    margin-left: 12%;
   
}
.input-f{
    position: relative;
    width: 18%;
    margin-top: 30px;
    
}
.item-card{
    display: flex;
    gap: 10px;
    margin-left: 25px;
}
.Search{
    margin-top: 46px;
    width: 10%;
}
.main{
    margin-top: 2%;
}



