<mat-toolbar class="toolbar">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/cutomer-login">Customer Login</button>
    <button mat-button routerLink="/search-flight">Search Flight</button>
    <button mat-button routerLink="/Registration">Registration</button>
    <button mat-button routerLink="/contact-us">Contact</button>
    <!-- <button mat-button routerLink="/feedback">Feedback</button> -->
</mat-toolbar>

