.example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar {
    background-color: rgba(189, 108, 46, 0.933);
  }
 .mat-sidenav-container{
  height: 91%;
 
 }

 .mat-sidenav{
  width: 170px;
  background-color: #d2cccc8e;
 }
