<div class="main">
    <mat-card class="example-card">
        <mat-card-title class="mat-card-title ">Search Flight Here</mat-card-title>
        <mat-card-content class="content">
            <mat-form-field class="mat-form-field">
                <mat-label class="selective" style="width: 80px;">Select from city</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mat-form-field">
                <mat-label>Select To city</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mat-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button class="search" color="warn">reset</button>
            <button mat-flat-button class="Research" color="primary">Search</button>
        </mat-card-actions>
    </mat-card>

</div>
<div class="Top-route-Destination">
    <h1 class="h3">Top Routes and Destination - Airlines Reservation System</h1>
</div>
<div class="mat-card">
    <mat-card class="example-card-2">
        <img src="../../assets/artur-voznenko-GML74pAOOW8-unsplash.jpg" alt="">
        <mat-card-content>
        </mat-card-content>
        <mat-card-title>Air India</mat-card-title>
    </mat-card>
    <mat-card class="example-card-2">
        <img src="../../assets/alexander-schimmeck-DSOohFTAfno-unsplash.jpg" alt="">
        <mat-card-content>
        </mat-card-content>
        <mat-card-title>Quatar Airways</mat-card-title>
    </mat-card>
    <mat-card class="example-card-2">
        <img src="../../assets/sebastian-grochowicz-flvyiQkkYYM-unsplash.jpg" alt="" height="200px">
        <mat-card-content>
        </mat-card-content>
        <mat-card-title>Oman Airs</mat-card-title>
    </mat-card>
    <mat-card class="example-card-2">
        <img src="../../assets/nicole-geri-gMJ3tFOLvnA-unsplash.jpg" alt="" height="200px">
        <mat-card-content>
        </mat-card-content>
        <mat-card-title>France</mat-card-title>
    </mat-card>
</div>
<div class="about">
    <h1>About Airlines Reservation</h1>
</div>