.example-spacer {
    flex: 1 1 auto;
  }
.toolbar{
    color: rgb(244, 248, 248);
    background-color: rgb(14, 72, 110);
    gap: 30px;
    
}  
.example-card {
  max-width: 400px;
  text-align: center;
  color: rgb(16, 16, 16);
}

.example-card{
  width: 350px;
  height: 350px;
  position: relative;
  left: 50px;
  top: 27px;
  border-radius: 12px;

}

.main{
 background-image: url("../../assets/polynesia-3021072_1920.jpg");
 height: 60%;
 width: 100%;
 background-position:0%;
 
}

.h3{
  text-align: center;
  font-size:xx-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(17, 14, 125);
  position: relative;
  top: 20px;
}

.example-card-2{
  width: 321px;
  height: 250px;
  border-radius: 10px;

}

.mat-card{
  display: flex;
  gap: 50px;
  margin-left:49px;
  position: relative;
  top:22px;
  text-align: center;
  
 
}

.Research{
  position: relative;
  left: 150px;
  top: 20px;
}
.search{
  position: relative;
  left:25px;
  top: 20px;
}
.content{
  position: relative;
  top: 20px;
}
.mat-form-field {
  width: 90%;
  
}
.about{
  // height: 200px;
  margin-top: 50px;
  margin-left: 50px;
  
}

.search-flight{
  width: 81%;
  height: 40%;
  left: 150px;
  top: 150px;
  border-top-left-radius:20px;
  border-bottom-right-radius:20px
}

.dropdown-search{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.home{
 
  height: 100%;
}

