.registration-container {
    max-width: 50%;
    margin: auto;
    position: relative;
    top: 50px;
    background-color: white;
   
   
}
.row-1-e {
    width: 49.5%;
}
.row-2-e {
    width: 49.5%;
    margin-left: 1%;
}
.registration-card{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: sans-serif;

}
.register-btn{
    margin-left: 82.70%;
    background: linear-gradient(to right, red, blue);
    cursor:pointer;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.register-btn:hover {
   
    opacity: 1; 
  }
.alreadyregister{
    position: relative;
    left: 20px;
    bottom: 45px;
}

.registrationPage{
    background-color:  rgba(232, 219, 209, 0.673);
    height: 91%;
    background-image: url('../../../assets/adventure-1850912_1280.jpg');
    background-size:cover;
}
